Repository MobiusDM/Mobius, changes with the labels that .github/labeler.yml gives for each.
All labels: server, cli, client, cocoon, web, shared, docker, ci, dependencies, documentation, config, scripts, tests

Update .github/workflows/update-security.yml
  .github/workflows/update-security.yml
Labels: server, cli, client, cocoon, web, ci

Update .github/workflows/auto-triage-issues.yml
  .github/workflows/auto-triage-issues.yml
Labels: server, cli, client, cocoon, web, ci

Integrate CodeQL Security Analysis Workflow (#50)
  .github/workflows/codeql.yml
  mobius-cli/go.sum
  mobius-server/go.mod
  shared/go.mod
  shared/go.sum
Labels: server, cli, client, cocoon, web, shared, ci

feat: Create and Maintain SECURITY.md with Auto-Update Automation (#46)
  .github/workflows/update-security.yml
  README.md
  SECURITY.md
  docs/SECURITY_AUTOMATION.md
Labels: server, cli, client, cocoon, web, ci, documentation

Implement GitHub Issue Templates and Auto-Triage Workflow (#43)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general.md
  .github/ISSUE_TEMPLATE/release-qa.md
  .github/workflows/auto-triage-issues.yml
Labels: server, cli, client, cocoon, web, ci, documentation, config

Add comprehensive GitHub Copilot instructions for Mobius MDM development (#81)
  .github/copilot-instructions.md
  go.work.sum
  mobius-server/static/_app/env.js
  mobius-server/static/_app/immutable/assets/2.BUqHTCuc.css
  mobius-server/static/_app/immutable/assets/4.mUNibhhu.css
  mobius-server/static/_app/immutable/assets/6.CeKcfE8R.css
  mobius-server/static/_app/immutable/assets/Layout.g5E1QFn_.css
  mobius-server/static/_app/immutable/chunks/BHBMhBqS.js
  mobius-server/static/_app/immutable/chunks/BYUYUiqq.js
  mobius-server/static/_app/immutable/chunks/BcNAEKRd.js
  mobius-server/static/_app/immutable/chunks/BquZJqp6.js
  mobius-server/static/_app/immutable/chunks/Bt7aw1iI.js
  mobius-server/static/_app/immutable/chunks/CMFaRHVb.js
  mobius-server/static/_app/immutable/chunks/D3_zJ7M8.js
  mobius-server/static/_app/immutable/chunks/D7v9pv8V.js
  mobius-server/static/_app/immutable/chunks/DsnmJJEf.js
  mobius-server/static/_app/immutable/chunks/G_-t5tJM.js
  mobius-server/static/_app/immutable/chunks/JSvPO1vg.js
  mobius-server/static/_app/immutable/entry/app.4_Heb4-t.js
  mobius-server/static/_app/immutable/entry/start.B4MXdorN.js
  mobius-server/static/_app/immutable/nodes/0.CIppIMrZ.js
  mobius-server/static/_app/immutable/nodes/1.C5vvrG1D.js
  mobius-server/static/_app/immutable/nodes/2.BJ4VqN8Y.js
  mobius-server/static/_app/immutable/nodes/3.BkZ8U9VA.js
  mobius-server/static/_app/immutable/nodes/4.Ctw1iY5i.js
  mobius-server/static/_app/immutable/nodes/5.CzGP1dpp.js
  mobius-server/static/_app/immutable/nodes/6.Cwvkyn75.js
  mobius-server/static/_app/immutable/nodes/7.Ce_1lSvO.js
  mobius-server/static/_app/immutable/nodes/8.Dj_I0uSv.js
  mobius-server/static/_app/version.json
  mobius-server/static/index.html
  mobius-server/static/robots.txt
Labels: server, cli, client, cocoon, web, dependencies, documentation

Fix Docker files: standardize versions, improve security, and correct port configurations (#53)
  Dockerfile
  Dockerfile-desktop-linux
  Dockerfile.combined
  mobius-client/Dockerfile
  mobius-server/Dockerfile
  mobius-server/server/mdm/scep/Dockerfile
  mobius-server/tools/mdm/migration/mdmproxy/Dockerfile
  tools/mdm/migration/mdmproxy/Dockerfile
  tools/mobius-docker/Dockerfile
Labels: server, cli, client, cocoon, web, docker, scripts

feat: enforce conventional commits for PRs to main branch (#38)
  .commitlintrc.json
  .github/pull_request_template.md
  .github/workflows/conventional-commits.yml
  .gitignore
  docs/conventional-commits.md
  package.json
Labels: server, cli, client, cocoon, web, ci, dependencies, documentation, config

Update mobius-web/package.json
  mobius-web/package.json
Labels: server, cli, client, cocoon, web

.github/labeler.yml:

# File-based labeling configuration
# Labels based on file paths changed in PRs

# Server component
server:
  - mobius-server/**/*
  - '!mobius-server/**/*.md'

# CLI component  
cli:
  - mobius-cli/**/*
  - '!mobius-cli/**/*.md'

# Client component
client:
  - mobius-client/**/*
  - '!mobius-client/**/*.md'

# Cocoon component
cocoon:
  - mobius-cocoon/**/*
  - '!mobius-cocoon/**/*.md'

# Web UI component
web:
  - mobius-web/**/*
  - '!mobius-web/**/*.md'

# Shared libraries
shared:
  - shared/**/*

# Docker related
docker:
  - Dockerfile*
  - docker-compose*.yml
  - .dockerignore
  - deployments/**/*

# CI/CD
ci:
  - .github/workflows/**/*
  - .github/actions/**/*

# Dependencies
dependencies:
  - go.mod
  - go.sum
  - go.work*
  - package.json
  - package-lock.json
  - yarn.lock

# Documentation
documentation:
  - '**/*.md'
  - docs/**/*
  - README*
  - CHANGELOG*
  - CONTRIBUTING*
  - LICENSE*
  - SECURITY*

# Configuration
config:
  - .golangci.yml
  - .github/dependabot.yml
  - .github/ISSUE_TEMPLATE/**/*
  - .github/pull_request_template.md
  - .goreleaser*.yml
  - Makefile

# Scripts
scripts:
  - scripts/**/*
  - tools/**/*
  - '**/*.sh'

# Tests
tests:
  - '**/*_test.go'
  - tests/**/*
  - '**/*.test.*'
